<script>
    export let selectedContinent = "Chicago";
    export let selectedScaleType = "all";
    const continents = ["Chicago", "Baltimore", "Los Angeles"];
    const scaleTypes = ["all", "within"];
</script>

<div class='row'>
    <div class='col-3'>
            {#each continents as continent}
                <label><input type=radio name="selectedContinent" bind:group={selectedContinent} value={continent}/>{continent}</label>
            {/each}
    </div>

    <div class='col-2'>
        {#each scaleTypes as scaleType}
            <label><input type=radio name="selectedScaleType" bind:group={selectedScaleType} value={scaleType}/>{scaleType}</label>
        {/each}
    </div>
</div>
