<script>
    // Dependencies
    import { scaleLog, scaleLinear } from "d3-scale";
    import { extent, filter } from "d3-array";
    import { area } from "d3-shape";
    
    // Size and margins
    const width = 600;
    const height = 250;
    const h=15;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
    
    // Properties
    export let data = [];
    export let scaleType = null;
    const buildingTypes = ["FullServiceRestaurant", "Hospital", "LargeHotel", "LargeOffice", "MediumOffice",
                            "MidriseApartment", "OutPatient", "PrimarySchool", "QuickServiceRestaurant", 
                            "SecondarySchool", "SmallHotel", "SmallOffice", "Stand-aloneRetail", "StripMall",
                            "SuperMarket", "Warehouse"];
    
    // Scales
    const xScale = scaleLinear().domain(extent(data.map((d)=>d.day))).range([-50, 450]);
    const yScale = scaleLog().domain(extent(data.map((d)=>d.total_heating_energy + 5))).range([0,5]);
    
    function changeYScale(df){
      const yScale = scaleLog().domain(extent(df, (d)=>d.total_heating_energy + 1)).range([-5,5]);
      return yScale;
    }

    function updateData(dt, btype){
      let n = dt.filter((d)=>d.buildingtype==btype);
      const xScale = scaleLinear().domain(extent(n,(d)=>d.day)).range([-50, 450]);
      const yScale = scaleLog().domain(extent(dt, (d)=>d.total_heating_energy + 1)).range([-5,5]);
      const areaPath = area().x(d=>xScale(d.day)).y1(d=>yScale(d.total_heating_energy)).y0(yScale(0));
      return areaPath(n);
    }

    function updateDataByBuildingType(dt, btype){
      let n = dt.filter((d)=>d.buildingtype==btype);
      const xScale = scaleLinear().domain(extent(n,(d)=>d.day)).range([-50, 450]);
      const yScale = scaleLog().domain(extent(n, (d)=>d.total_heating_energy + 1)).range([-5,5]);
      const areaPath = area().x(d=>xScale(d.day)).y1(d=>yScale(d.total_heating_energy)).y0(yScale(0));
      return areaPath(n);
    }
    </script>
    
    <svg {width} {height}>
      <g transform="translate({margin.left}, {margin.top})">
        <g transform="translate({innerWidth/10}, {innerHeight/50})">  
          {#each buildingTypes as buildingType, i}
            {#if scaleType=="all"}
            <g transform="translate(0, {i*h})">
              <path d={updateData(data, buildingType)}/> 
            </g>
            {:else}
            <g transform="translate(0, {i*h})">
              <path d={updateDataByBuildingType(data, buildingType)}/> 
            </g>
            {/if}
          {/each}
        </g>
      </g>
    </svg>
    
    <style>
      svg {
        border: 1px solid black;
        border-radius: 5px;
      }
    </style>