<script>
    import {scaleLinear, scaleRadial} from "d3-scale";
    import { areaRadial } from "d3-shape";
    import { extent } from 'd3-array';

    // Size and margins
    const width = 600;
    const height = 250;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;

    export let data = [];
    export let city = null;

    //filter data by each city
    let filtered_data = data.filter((d)=>d.city==city);

    //make circles
    let radius = 50;

    //scale data
    const xScale = scaleLinear().range([0, 2*Math.PI]).domain(extent(filtered_data, (d)=>d.week)); //0 to 52 weeks ->  circle
    const hScale = scaleRadial().range([0, radius]).domain(extent(filtered_data, (d)=>d.heating));
    const cScale = scaleRadial().range([0, radius]).domain(extent(filtered_data, (d)=>d.cooling));
    const hArea = areaRadial().angle((d) => xScale(d.week)).outerRadius((d)=>hScale(d.heating));
    const cArea = areaRadial().angle((d) => xScale(d.week)).outerRadius((d)=>cScale(d.cooling));

</script>

<svg {width} {height}>
    <g transform="translate({innerWidth/4}, {innerHeight/1.7})">  
        <path class="heat" d={hArea(filtered_data)}/>
        <path class="cool" d={cArea(filtered_data)}/>
        <text x={-innerWidth/15} y={-innerHeight/3}>{city} <br/></text>
        <circle cx=0 cy=0 r={radius}/> 
        <line x1=0 y1={-radius} x2=0 y2={radius}/>
        <line x1={-radius} y1=0 x2={radius} y2=0/>
        <text x=-1% y=-21%>0</text>
        <text x=-20% y=2.5%>3</text>
        <text x=16.5% y=2.5%>6</text>
        <text x=-1% y=26%>9</text>
    </g>
</svg>

<style>
    path{
        fill-opacity: 0.5;
        stroke-opacity: 0.8;
    }
    path.cool{
        fill: blue;
        stroke: blue;
    }
    path.heat{
        fill: red;
        stroke: red;
    }
    circle{
        fill: white; 
        fill-opacity: 0.1; 
        stroke: black;
    }
    line{
        stroke: black; 
        stroke-width: 1;
    }
    text{
        text-align: center;
    }
</style> 
  