<script>
    import { scaleLinear, scaleLog } from "d3-scale";
    import { extent } from "d3-array";
    import { area } from "d3-shape";
  
    export let data = [];
  
    // Size and margins
    const width = 500;
    const height = 600;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
    let nlen_match = 50;
  
    // Scale
    function electricityScale(dt, weekN){
      let n = dt.filter((d)=>d.week == weekN);
      let ndays = n.length;
      const xScale = scaleLinear().domain(extent(n.map((d)=>d.day))).range([0, ndays]);
      const yScale = scaleLinear().domain(extent(n.map((d)=>d.avg_electricity))).range([nlen_match/3, 0]);
      const areaPath = area().x(d=>25*xScale(d.day)).y0(yScale(0)).y1(d=>yScale(d.avg_electricity));
      return areaPath(n);
    }
  
    function gasScale(dt, weekN){
      let n = dt.filter((d)=>d.week == weekN);
      let ndays = n.length;
      const xScale = scaleLinear().domain(extent(n.map((d)=>d.day))).range([0, ndays]);
      const yScale = scaleLinear().domain(extent(n.map((d)=>d.avg_gas))).range([nlen_match/2, nlen_match]);
      const areaPath = area().x(d=>25*xScale(d.day)).y0(yScale(0)).y1(d=>yScale(d.avg_gas));
      return areaPath(n);
    }
  </script>
  
  <svg {width} {height}>
    <g transform="translate({innerWidth/5}, {innerHeight/9})">
      <text>Chicago: December Gas & Electricity Data</text>
    </g>
    <g transform="translate({innerWidth/2}, {innerHeight/1.7})">  
      <line x1=0 y1=-250 x2=0 y2=250 />
      <!-- 1st branch -->
      <line x1=0 y1=160 x2=180 y2=10 /> 
      <!-- 2nd branch -->
      <line x1=0 y1=130 x2=-150 y2=10 />
      <!-- 3rd branch -->
      <line x1=0 y1=40 x2=30 y2=10 />
      <!-- 4th branch -->
      <line x1=0 y1=-30 x2=-30 y2=-60 />
      <!-- 5th branch -->
      <line x1=0 y1=-95 x2=30 y2=-120 />
  
    <g class="week_48" >
      <path class="gas" d={gasScale(data, 48)}></path>
      <path class="electricity" d={electricityScale(data,48)}></path>
    </g>
  
    <g class="week_49">
      <path class="gas" d={gasScale(data, 49)}></path>
      <path class="electricity" d={electricityScale(data,49)}></path>
    </g>
  
    <g class="week_50" >
      <path class="gas" d={gasScale(data, 50)}></path>
      <path class="electricity" d={electricityScale(data,50)}></path>
    </g>
  
    <g class="week_51" >
      <path class="gas" d={gasScale(data, 51)}></path>
      <path class="electricity" d={electricityScale(data,51)}></path>
    </g>
  
    <g class="week_52" >
      <path class="gas" d={gasScale(data, 52)}></path>
      <path class="electricity" d={electricityScale(data, 52)}></path>
    </g>
    </g>
  </svg>
  
  <style>
    svg {
      border: 1px solid black;
      border-radius: 5px;
    }
    g.week_48{
      transform: rotate(-40deg) translate(-10px, 100px);
    }
    g.week_49{
      /* transform: rotate(-140deg) translate(-40px, -125px);*/
      transform: rotate(-140deg) translate(-40px, -80px) scaleY(-1);
    }
    g.week_50{
      transform: rotate(-40deg) translate(-5px, 5px);
    }
    g.week_51{
      transform: rotate(-140deg) translate(35px, 50px) scaleY(-1);
    }
    g.week_52{
      transform: rotate(-40deg) translate(80px, -100px);
    }
    line {
      stroke: black;
      stroke-width: 0.5%;
    }
    path.electricity {
      fill: skyblue;
    }
    path.gas {
      fill: coral;
    }
  </style>