<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Tree from './_design_3_tree.svelte';
  
  // // Load data
  // // set initial value to null --> undefined: {#if} block will wait for your data to be defened before it starts drawing in your svg.   
  // let data = null;
  // onMount(async () => {
  //       // load data via async function and use the .then method. 
  //       // It will wait for your json file to be fetched and will execute a callback function in which your aggregation will take place.
  //       // Provide the fetched data as the input element for your callback function, next you can do your data engeneering on it and return the data structure you will work with (data_formatted).
  //       // This returned object will then be stored in the variable 'data', and hence will no longer be undefined.
  //       data = await json("static/data/hourly_electricity_vs_gas_december.json").then((data) => {
  //           let data_per_city = {};
  //           let data_formatted = {};
  //           let total_electricity = {}
  //           let total_gas = {}
  //           data.forEach((d) =>{
  //               if(!(d.city in data_per_city)){
  //                   data_per_city[d.city] = {}
  //               }
  //               if(!(d.week in data_per_city[d.city])){
  //                   data_per_city[d.city][d.week] = {}
  //               }
  //               if(!(d.day in data_per_city[d.city][d.week])){
  //                   data_per_city[d.city][d.week][d.day] = []
  //               }
  //               total_electricity = {total_electricity: d.total_electrity}
  //               total_gas = {total_gas: d.total_gas}
  //               data_per_city[d.city][d.week][d.day].push(total_electricity)
  //               data_per_city[d.city][d.week][d.day].push(total_gas)
  //           });
  //           Object.keys(data_per_city).forEach((city) => {
  //               Object.keys(data_per_city[city]).forEach((week) => {
  //                   Object.keys(data_per_city[city][week]).forEach((day) => {
  //                       let electDict = data_per_city[city][week][day].filter(d => d.total_electricity)
  //                       // console.log(electDict)
  //                       let elecList = []
  //                       Object.values(electDict).forEach(d=> {
  //                         elecList.push(d.total_electricity)
  //                       })
  //                       let gasDict = data_per_city[city][week][day].filter(d => d.total_gas)
  //                       let gasList = []
  //                       Object.values(gasDict).forEach(d=> {
  //                           gasList.push(d.total_gas)
  //                       })
  //                       let arrE = elecList;
  //                       const averageE = arrE.reduce((a,b) => a + b, 0) / arrE.length 
  //                       let arrG = gasList;
  //                       const averageG = arrG.reduce((a,b) => a + b, 0) / arrG.length 
  //                       if(!(week in data_formatted)){
  //                           data_formatted[week] = []
  //                       }
  //                       data_formatted[week].push({
  //                           "city": city,
  //                           "week": parseInt(week),
  //                           "day": parseInt(day),
  //                           "avg_electricity": averageE,
  //                           "avg_gas": averageG,
  //                       });    
  //                   })
  //               })
  //           });   
  //           return data_formatted;
  //       });         
  // });
  // Load the transformed data
  let data = null;
  onMount(async () => {
      data = await json("/data/daily_electricty_vs_gas_december.json");
  });
  // $: console.log(data);
</script>
{#if !data}
  <p>Loading data, please wait...</p>
{:else}
    <Tree data={data}/>
{/if}
  