<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Circle from './_design_2_circle.svelte';

// Transformed original data; just dont know how to make it in the correct format so copy & pasted
//data into weekly_design2.svelte.json
// Load the data
// let data = [];
//     onMount(async () => {
//     data = await json("/data/daily_heating_cooling.json");
// });

// // $: console.log(data.filter((d)=>d.city=="Chicago"))
// let here = {}
// let cool = {}
// let heat = {}

// $: {
//     data.forEach((d) =>{
//         // console.log(d.city)
//         if(!(d.city in here)){
//         here[d.city] = {}
//         }
//         if(!(d.week in here[d.city])){
//             here[d.city][d.week] = []
//         }
//     cool = {cool: d.cooling}
//     heat = {heat: d.heating}
//     here[d.city][d.week].push(cool)
//     here[d.city][d.week].push(heat)
//     })
// }

// let myData = {};
// $: {
// Object.keys(here).forEach((city) => {
//     Object.keys(here[city]).forEach((week) => {
//         let coolDict = here[city][week].filter(d => d.cool)
//         let coolList = []
//         Object.values(coolDict).forEach(d=> {
//             coolList.push(d.cool)
//         })
//         let heatDict = here[city][week].filter(d => d.heat)
//         let heatList = []
//         Object.values(heatDict).forEach(d=> {
//             heatList.push(d.heat)
//         })
//         let arrC = coolList;
//         const averageC = arrC.reduce((a,b) => a + b, 0) / arrC.length 
//         let arrH = heatList;
//         const averageH = arrH.reduce((a,b) => a + b, 0) / arrH.length 
//         if(!(week in myData)){
//             myData[week] = []
//         }
//         myData[week].push({
//             "city": city,
//             "week": parseInt(week),
//             "cooling": averageC,
//             "heating": averageH,
//         });
//     })
// })
// }
// let datDat = {};
// $:{
//     let tfds = Object.values(myData).reduce((acc, val) => acc.concat(val), [])
//     datDat = JSON.stringify(tfds);
//     // console.log(JSON.stringify(yops))
//     // let i = 0;
//     // while(i<159){
//     //     yopHouse.push(yops[i]);
//     //     i++;
//     // }
// }

const cities = ["Chicago", "Baltimore", "Los Angeles"];

// Load the transformed data
let data = null;
onMount(async () => {
    data = await json("/data/weekly_design2.json");
});

</script>

{#if !data}
  <p>Loading data, please wait...</p>
{:else}
  {#each cities as city}
    <Circle data={data} city={city}/>
  {/each}
{/if}
  