<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Line from './_design_1_line.svelte';
  import Control from './_design_1_control.svelte';
  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

    //Transformed data from hourly into daily, didnt know how to access it as an object so copy and pasted
    //transformed data from console as daily_heating_december*.json (*= baltimore, chicago, la).
    // Load data
    //   let data = null;
    //   onMount(async () => {
    //       data = await json("static/data/hourly_heating_december.json");
    //   });

    //   let here = {};
    // //    $: console.log(data)
    //     $:{
    //         data.forEach((d) =>{
    //         // console.log(d.city)
    //             if(!(d.city in here)){
    //                 here[d.city] = {}
    //             }
    //             if(!(d.buildingtype in here[d.city])){
    //                 here[d.city][d.buildingtype] = {}
    //             }
    //             if(!(d.day in here[d.city][d.buildingtype])){
    //                 here[d.city][d.buildingtype][d.day] = []
    //             }
    //             here[d.city][d.buildingtype][d.day].push(d.total_heating_energy)
    //         })
    //     }
    //     // $: console.log(here);

    //     let newData = {};
    //     $:{
    //         Object.keys(here).forEach((city) => {
    //             Object.keys(here[city]).forEach((buildingtype) => {
    //                 // console.log(here[city][buildingtype])
    //                 Object.keys(here[city][buildingtype]).forEach((day) => {
    //                     let arr = here[city][buildingtype][day];
    //                     const average = arr.reduce((a,b) => a+b,0)/arr.length;

    //                     if(!(city in newData)){
    //                         newData[city] = []
    //                     }
    //                     newData[city].push({
    //                         "city": city,
    //                         "buildingtype": buildingtype,
    //                         "day": day,
    //                         "total_heating_energy": average,
    //                     })
    //                 })
    //             })
    //         })
    //     }
    //     // $: console.log(newData);
    //     // $: console.log(JSON.stringify(newData));

  // Load transformed data
  let data = null;
  onMount(async () => {
      data = await json("/data/daily_heating_december_all.json");
  });

  let selectedContinent = 'Chicago';
  let selectedScaleType = 'all';
  let selectContinent;

  function extract_data (data, selectedContinent) { 
    selectContinent =  data.filter((d)=>d.city==selectedContinent)
    return selectContinent;
  }
    </script>
    
{#if !data}
    <p>Loading data, please wait...</p>
{:else}
    <div>
        <Line data={extract_data(data, selectedContinent)} scaleType={selectedScaleType}/>
        <Control bind:selectedContinent={selectedContinent} bind:selectedScaleType={selectedScaleType}/>
    </div>
{/if}
  