<script>
    const name = 'Ruriko Imai';
    const fav = ['Food', 'Cats', 'Money'];
    const student = { name, fav };
</script>

<p>
    My name is {student.name} and these are some of my favorite things:
        <li>{student.fav[0]}</li>
        <li>{student.fav[1]}</li>
        <li>{student.fav[2]}</li>
</p>