<script>
 const radius = 4;

 function find_circum(radius){
     return (2*Math.PI*radius).toFixed(2) ;
 }

const circumference = find_circum(radius);

</script>

<p>The circumference of a circle with radius {radius}m is {circumference}m.</p>
