<script>
  import {onMount, onDestroy} from 'svelte';

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];
  // All lights with a higher index are on!
  let index = points.length;
  // Color
  let color = "darkred";

  let current = index; // start from the most right dot
  const intervalValue = setInterval(changeColor, 1000);
  function changeColor(){
    if (current==0){clearInterval(intervalValue);}
    console.log(current--); // check if current stops counting
  }

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <!-- idx of the current iteration -->
    {#each points as point,idx}
      {#if idx >= current}
        <circle cx={point} cy={innerHeight/2} r=10 fill={color} opacity=1></circle>
			{:else}
				<circle cx={point} cy={innerHeight/2} r=10 fill={color} opacity=0.3></circle>
			{/if}
      {#if current < 0}
        <circle cx={point} cy={innerHeight/2} r=10 fill="darkgreen"></circle>
      {/if}
    {/each}
  </g>
</svg>