<script>
  import {axisBottom} from 'd3-axis';
  import {select} from 'd3-selection';
  import {scaleLog} from 'd3-scale';
  import { extent } from 'd3-array';

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
   const values = [2, 4, 6, 7, 9];
   let extend= extent(values);
   const myScale = scaleLog().domain(extend).range([1, innerWidth]).nice();

  // Construct axis
 function x_axis(x) {axisBottom(myScale)(select(x))}
</script>

<!-- svelte-ignore component-name-lowercase -->
<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <g transform="translate(0,{innerHeight})" use:x_axis></g>
    {#each values as value}
      <circle cx={myScale(value)} cy={innerHeight/2} r=10 fill="steelblue"></circle>
    {/each}
    <text font-size=10 x=50% y=92%>x-label</text>
  </g>
</svg>
